@import "./variables";

.article{
    width: 100%;
    min-height: 100vh;
    margin: 10px 0px ;
    background: $primary-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .articleImage{
        width: 50%;
        min-width: 300px;
        min-height: 500px;
        flex-grow: 1;
        overflow: hidden;
        background-size: cover;
    };

    .articleDescription{
        width: 50%;
        flex-grow: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        h2{
            font-size: 6vw;
            font-weight: 400;
            font-family: 'Cinzel', serif;
            @media (max-width:720px) {
                font-size: 40px;
            }
        }
        p{
            padding: 50px;
            flex-grow: 1;
            font-size: 14px;
            font-family: 'Prata', serif;
            text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
        };

    };
};