@import "./variables";

.card{
    width: 20vw;
    height: 20vw;
    background: $primary-color;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;

    .cardContent{
        width: 100%;
        min-height: 100px;
        padding: 10px;
        background: linear-gradient(to bottom, transparent, $font-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3{
            font-size: 2vw;
            font-family: "Poppins";
            color: $primary-color;
            transition: all 0.2s ease-in-out;
        };
    };

    &:hover{
        transform: translateY(-10px);
        opacity: 0.8;
        box-shadow: $shadow;

        h3{
            font-size: 2.1vw;
            font-family: "Poppins";
            color: $primary-color;
        };

    };

};