@import "./variables";

.drawer{
    position: fixed;
    width: 100%;
    transform: translateY(-1000px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: 10px;
    z-index: 10;
    background: $primary-color;
    animation: draw 2s ;
    transition: 0.5s;
    overflow: hidden;
    padding: 3vw;

    &.active{
        box-shadow: $shadow;
        transform: translateY(0px);
    };
};