@import "./components/variables";

.category{
    background:$secondary-color;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.ventures{
    width: 100%;
    background: $secondary-color;
    display: flex;
    flex-direction: column;
};